<ion-header>
  <ion-navbar>
    <ion-title text-center>{{ 'page.settings.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'page.settings.language' | translate }}:</ion-label>
      <ion-avatar item-end>
        <img src="assets/images/flags/{{ translateService.currentLang }}.png" (click)="changeLanguage();">
      </ion-avatar>
    </ion-item>

    <ion-item *ngIf="configModel">
      <ion-label>{{ 'page.settings.localData.title' | translate }}:*</ion-label>
      <ion-toggle [(ngModel)]="configModel.useLocalData" (ngModelChange)="onLocalDataChange($event)"></ion-toggle>
    </ion-item>    

    <ion-item *ngIf="configModel && configModel.useLocalData">
      <ion-label>{{ 'page.settings.localData.updatedAt' | translate }}:</ion-label>
      <span item-end *ngIf="configModel.localDataLastUpdatedAt">
            {{ configModel.localDataLastUpdatedAt | amLocale: translateService.currentLang | amDateFormat : 'DD/MM/YYYY' }}
      </span>
      
      <span item-end *ngIf="configModel.localDataLastUpdatedAt">
        <button ion-button clear icon-only (click)="checkForLocalDataUpdate()">
          <ion-icon name="refresh"></ion-icon>
        </button>            
      </span>
      
    </ion-item>

    <ion-item>
      {{ 'page.settings.appName' | translate }}:
      <span item-end>{{ appName }}</span>
    </ion-item>

    <ion-item>
      {{ 'page.settings.packageName' | translate }}:
      <span item-end>{{ packageName }}</span>
    </ion-item>

    <ion-item>
      {{ 'page.settings.versionCode' | translate }}:
      <span item-end>{{ versionCode }}</span>
    </ion-item>

    <ion-item>
      {{ 'page.settings.versionNumber' | translate }}:
      <span item-end>{{ versionNumber }}</span>
    </ion-item>

    <ion-item>
      {{ 'page.settings.website' | translate }}:
      <span item-end><a href="https://taxicheck.bg/{{webLanguage}}">taxicheck.bg</a></span>
    </ion-item>

  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col class="note">{{ 'page.settings.note' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="note">{{ 'page.settings.localData.note' | translate }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
